.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

scripts/build*
scripts/bzip2
scripts/libarchive*
scripts/libz4
scripts/xz
scripts/zlib
scripts/zstd

.direnv